//colores
$white: #fff;
$like-black: #001414;
$nickel: #55595C;
$light-gray: #DCE0D9;
$cyan: #91DCE5;
$red: #EF6461;

// font size
$x-large: 30px;
$large: 18px;

// breakpoints
$breakpoint-mobile: 768px;
